# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo

# ==========================================
# Virtual Environment
# ==========================================

venv/
.venv/
env/

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# Python Tools
# ==========================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Dataset
# ==========================================

dataset/*.csv

# ==========================================
# Model Files
# ==========================================

models/*.pkl
models/*.joblib
models/*.txt

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db